* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



/* ==========Global Css============= */

.nav_area {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);

}

.nav_element {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_area {
    width: 180px;
}

.logo_area img {
    width: 90px;
    height: 90px;
}

.menu_item {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger_icon button {
    color: #0077B6;
    font-size: 28px;
    line-height: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.user_info {
    display: flex;
    align-items: center;
}

.admin_info {
    text-align: end;
    margin-right: 24px;

}

.admin_info h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #193441;

}

.admin_info small {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #193441;
}

.avatar {
    margin-right: 24px;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.message_icon {
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #193441;
    position: relative;
}

.message_number {
    position: absolute;
    bottom: 15px;
    left: 8px;
    background-color: #FF0000;
    border: 1px solid #FFFFFF;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid #fff;
}

.message_number span {
    font-size: 12px;
    color: #fff;
}

/* ============================NavBar-End========= */
/* =========dashboard_area-end========= */
.dashboard_area {
    width: 100%;
    display: flex;
    top: 90px;
}

.dashbord_middel {
    width: 280px;
}

/* =========dashboard_area-end========= */
/* ===========SideBar Start================ */

#dashboard_left {
    padding-top: 30px;
    width: 230px;
    background: linear-gradient(95.29deg, #11998E -5.97%, #0077B6 107.73%);
    transition: .15s all ease;
    -webkit-transition: .15s all ease;
    -moz-transition: .15s all ease;
    -ms-transition: .15s all ease;
    -o-transition: .15s all ease;
    position: fixed;
    top: 90px;
    bottom: 0;

}

.h_link {
    transition: 1s all ease-in-out;
    -webkit-transition: 1s all ease-in-out;
    -moz-transition: 1s all ease-in-out;
    -ms-transition: 1s all ease-in-out;
    -o-transition: 1s all ease-in-out;
    opacity: 1;
}

.show_arrow {
    /* display: block; */
    transition: .5s all ease-in-out;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    opacity: 1;
}



#dashboard_left.active {
    padding-top: 30px;
    width: 80px;
    height: 100vh;
    background: linear-gradient(95.29deg, #11998E -5.97%, #0077B6 107.73%);
    transition: .5s all ease-in-out;
    /* padding-left: 30px; */
    padding-right: 30px;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
}

.desh_menu {
    /* width: 70%; */
    margin: 15px auto;
    transition: .2s all ease;
    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
    -ms-transition: .2s all ease;
    -o-transition: .2s all ease;
    padding-left: 30px;
    padding-right: 15px;
}

.desh_menu a {
    margin-bottom: 30px;
    display: block;
}

.item_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icone {
    display: flex;
    align-items: center;
    color: #ffff;
    font-size: 24px;
}

.igap {
    margin-right: 20px;
}

.link_name span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    margin-left: 20px;

}

.arrow {
    color: #FFFF;
    margin-top: 4px;

}

/* ===========SideBar End================ */
/* =============dashboard-right-start=============== */
.dashboard_right {
    width: 190px;
    background: #F5F5F5;
    padding-bottom: 50px;

}

.dashboard_content {
    width: 95%;
    margin: 130px auto;
    background: #ffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.user_text {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.user_text h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #0077B6;
    padding: 16px 60px;
}

.search_box {
    padding: 16px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_input {
    width: 80%;
}

.search_input input {
    width: 100%;
    border: none;
    background: #E9ECEF;
    padding: 10px 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.search_input input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #193441;
}

.search_input input:focus {
    outline: none;
}

.submit_btn button {
    border: none;
    background: #0077B6;
    color: #fff;
    padding: 10px 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* =============dashboard-right-end=============== */